<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VueFire Todo App Demo</title>
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/1.0.20/vue.js"></script>
    <script src="../../dist/vuefire.js"></script>
  </head>
  <body>

    <div id="app">
      <ul>
        <li v-for="item in items" track-by=".key">
          {{ item.text }}
          <button @click="removeTodo(item['.key'])">X</button>
        </li>
      </ul>
      <form @submit.prevent="addTodo">
        <input v-model="newTodo">
        <button>Add #{{ items.length }}</button>
      </form>
    </div>

    <script>
      /* global Vue, Firebase */
      var itemsRef = new Firebase('https://vuefiredemo.firebaseio.com/items/')

      new Vue({
        el: '#app',
        data: {
          newTodo: ''
        },
        firebase: {
          items: itemsRef.limitToLast(25)
        },
        methods: {
          removeTodo: function (key) {
            itemsRef.child(key).remove()
          },
          addTodo: function () {
            if (this.newTodo.trim()) {
              itemsRef.push({
                text: this.newTodo
              })
              this.newTodo = ''
            }
          }
        }
      })
    </script>
  </body>
</html>
