{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
        "last 2 Chrome versions",
        ]
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
