rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /__tests/{document=**} {
      allow read, write;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
