/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-accent: #f78200;

  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand) 25%,
    var(--vp-c-accent)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    /* var(--vp-c-brand) 30%, */ #3ab98260 25%,
    /* var(--vp-c-accent) */ #f7820090
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}
