name: test

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'playground/**'
      - 'examples/**'

  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'playground/**'
      - 'examples/**'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Cache firebase tools
        id: cache-firebase-tools
        uses: actions/cache@v3
        env:
          cache-name: cache-firebase-tools
        with:
          path: ~/.cache/firebase/emulators
          key: ${{ runner.os }}-build-${{ env.cache-name }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Install firebase-tools
        run: pnpm add -g firebase-tools

      - name: Lint
        run: pnpm run lint

      - name: Types
        run: pnpm run test:types

      - name: Test
        run: firebase emulators:exec 'pnpm run test:unit'

      - name: Build
        run: pnpm run build

      - name: Nuxt module build
        run: pnpm run -C packages/nuxt build

      - uses: codecov/codecov-action@v2
